[Desktop Entry]
Encoding=UTF-8
Exec=/opt/clipgrab/ClipGrab.AppImage
Name=ClipGrab
GenericName=CliptGrab
Type=Application
Terminal=false
StartupNotify=false
Type=Application
Icon=/opt/clipgrab/Clipgrab.ico
Categories=Utility
